name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install dependency
      run: |
        sudo apt update
        sudo apt install git help2man perl python3 make autoconf g++ flex bison ccache libgoogle-perftools-dev numactl perl-doc
        sudo apt install libsdl2-dev
        sudo apt install libfl2
        sudo apt install libfl-dev
        sudo apt install zlib1g zlib1g-dev
        git clone https://github.com/verilator/verilator.git
      
    - name: compile verilator
      run: |
        cd verilator
        git checkout v5.032
        autoconf
        ./configure
        make -j12
        sudo make install
        cd ~
      
    - name: get difftest
      run: git submodule update --init --recursive

    - name: Run check
      run: |
        make test-lab1
        make test-lab1-extra
        make test-lab2
        make test-lab3 TEST=all
        make test-lab3-extra TEST=all
        make test-lab4